<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:remove="all">Password recovery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<p>
			Hi <span th:text="${name}"></span>,
		</p>
		<p>
		</p>
		<p>
			As you have requested password recovery, here are your new credentials:
		</p>
		<p>
			Username: <span style="font-weight: bold" th:text="${customer.email}"></span>
		</p>
		<p>
			New password: <span style="font-weight: bold" th:text="${newPassword}"></span>
		</p>
		<br />
		<p>
			If you do not recognize this change, please contact smtp.javaee@gmail.com as soon as possible.
		</p>
	</div>
</body>

</html>